{% extends 'carsforsale/layout.html' %}
{% block navlinks %}
    {% if user.is_authenticated%}
    <li><a href="account/profile">Profile</a></li>
    <li><a href="/postcar">Create car post</a></li>
    <li><a href="account/logout">Logout</a></li>
    {% else %}
    <li><a href="account/register">Register</a></li>
    <li><a href="account/login">Login</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<h3 class="car_info_heading">{{ object.title }}</h4>
<div class="myfield col s12 m2">
    <p class="datetime"> <b>Posted:</b> {{object.date }}</p><br>
   <img src="{{ object.car_picture.url }}" width="500px" class="z-depth-5">
   
   <p class="price z-depth-4">{{ object.price}}</p>
   <p class="carinfo_para grey z-depth-1"><b>Year:</b><br>{{ object.manufactured }}</p>
   <p class="carinfo_para z-depth-4"><b>Mileage(km):</b><br>{{object.mileage}}</p>
   <p class="carinfo_para grey z-depth-1"><b>Transmission:</b> <br>{{ object.transmission }}</p>
   <p class="carinfo_para z-depth-4"><b>Fuel type:</b><br>{{ object.fuel_type }}</p>   
   <p class="carinfo_para grey z-depth-1"><b>Color: </b><br>{{ object.color }}</p>
   <p class="carinfo_para z-depth-4 desc"><b>Description:</b><br>{{ object.car_description }}</p>
   <p class="carinfo_para grey z-depth-1"><b>Area:</b><br>{{ object.city }}, {{object.province}}</p>
   <p class="carinfo_para z-depth-4"><b>Phone: </b><br>{{ object.phone}}</p>
   <p class="carinfo_para grey z-depth-1"><b>Email: </b><br>{{ object.email }}</p>

   
{% endblock %}
