{% extends 'carsforsale/layout.html' %}
{% block pagetitle %}
    <title>{{ pagetitle }}</title>
    {% endblock %}
   
    {% block navlinks %}
    {% if user.is_authenticated%}
    <li><a href="account/profile">Profile</a></li>
    <li><a href="/postcar">Create car post</a></li>
    <li><a href="/account/logout">Logout</a></li>
    {% else %}
    <li><a href="/account/register">Register</a></li>
    <li><a href="/account/login">Login</a></li>
    {% endif %}
    {% endblock %}
{% block content %}
<h3 class="cars_heading">Available Cars</h3>
<ul class="myfield">
    {% for car in cars %}
    <a href="/car_information/{{car.id}}">  
    <li class="item">
            <h4 class="cartitle">{{ car.title }}</h4>
            <p class="datetime">{{ car.date }}</p>
           <img src="{{car.car_picture.url}}" width="500px"class="z-depth-2">
           <p class="price">{{car.price }}</p>    
    </li>
</a>

    {% endfor%}
    
</ul>
<style>
   
</style>
{% endblock %}