<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'carsforsale/css/style.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/8c9f7b77e5.js" crossorigin="anonymous"></script>
  <title>Gumtree - For Cars</title>
</head>

<body>
  <nav class="navbar bg-light">
    <h1>
      <a href="/"><label for="brand">Gumtree For Cars</label></a>
    </h1>
    <ul>
     {% block navlinks %}
     {% endblock %}
    </ul>
  </nav>
  <form action="/search/" class="search" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col md">
        <input type="text" name="searchbox" class="form-control" placeholder="Search for car" required>
      </div>
      <div>
        <button type="submit" class="searchbtn"><i class="fas fa-search"> Search</i></button>
      </div>
    </div>
  </form>
  <div>
    <div class="container">
      <div class="inner">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }} 
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>

</body>

</html>