{% extends 'carsforsale/layout.html' %}
{% block pagetitle %}
<title>search</title>
{% endblock %}

{% block content %}

{% if messages%}
<ul class="messages">
    {% for message in messages %}
    <li class="errormessage">* {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% if cars%}
<ul class="myfield">
    {% for car in cars %}
    <a href="/car_information/{{car.id}}">
        <li class="item">
            <h4 class="cartitle">{{ car.title }}</h4>
            <p class="datetime">{{ car.date }}</p>
            <img src="{{car.car_picture.url}}" width="500px" class="z-depth-2">
            <p class="price">{{car.price }}</p>
        </li>
    </a>

    {% endfor%}

</ul>
{% endif %}
<style>
    .errormessage {
        font-size: x-large;
        color: red;
        font-weight: 600;
        /* margin-left: 26%; */
    }
</style>
{% endblock %}