.bg {
	&-primary {
		@include set-background($primary-color);
	}
	&-light {
		@include set-background($light-color);
		border: #ccc 1px solid;
	}
	&-dark {
		@include set-background($dark-color);
	}
	&-success {
		@include set-background($success-color);
	}
	&-danger {
		@include set-background($danger-color);
	}
	&-white {
		@include set-background(#fff);
		border: #ccc 1px solid;
	}
	&-blue {
		@include set-background(blue);
		border: white 1px solid;
		color: whitesmoke;
		margin: auto;
		padding: auto;
	}
}

.alert{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
	border-radius: 4px;

	&-success {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

	&-info {
		color: #31708f;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}

	&-warning {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}

	&-danger {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}

}